// Colors
$green-lt: #7ed56f;
$green: #55c57a;
$green-dk: #28b485;
$green-lt-transparent: rgba(126, 213, 111, 0.5);
$green-dk-transparent: rgba(40, 180, 131, 0.8);
$orange-lt: #ffb900;
$orange-dk: #ff7730;
$orange-lt-transparent: #ffb900cc;
$orange-dk-transparent: #ff7730d9;
$blue-lt: #2998ff;
$blue-dk: #5643fa;
$blue-lt-transparent: #2998ffc7;
$blue-dk-transparent: #5643fac7;
$grey-lighter: #f7f7f7;
$grey-lt: #eee;
$grey: #ddd;
$grey-dk: #777;
$grey-darker: #333;
$white: #fff;

// Fonts
$main-font: "Lato", sans-serif;
$font-default: 1.6rem;

// Border radius
$radius-sm: 3px;
$radius-big: 10rem;

// Grid
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
